   
    body{
        padding: 0;
    }


    h1 a, h2 a, h3 a {
        color: #C25100;
        font-family: 'Julius Sans One', sans-serif;
        
        
    }

    body {
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .unity{
        background-color:#fff;
        font-family: 'Julius Sans One', sans-serif;

    }

    .card{
      margin:15px;
      float:left;
      width:300px;
      height:400px;
      background-color:#000;
      
    }

    .page-header {
        background-color: #017611;
        color: #ffffff;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
        margin-top:0;
        font-family: 'Julius Sans One', sans-serif;
    }

    .content {
        margin-left: 40px;
    }

    h1, h2, h3, h4 {
        font-family: 'Julius Sans One', sans-serif;
    }

    .date {
        color: #828282;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h2 a, .post h2 a:visited {
        color: #000000;
    }
    form{
        font-family: 'Julius Sans One', sans-serif;
    }
    li{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 18pt;
    }

    th{
        font-family: 'Julius Sans One', sans-serif;
    }

    tr{
        font-family: 'Julius Sans One', sans-serif;
    }

    .creaton{
        font-size: 18px;
        
        padding-top: 5px;
        padding-bottom: :5px;
    }

    .card-columns {
      @include media-breakpoint-only(lg) {
        column-count: 1;
      }
      @include media-breakpoint-only(xl) {
        column-count: 1;
      }
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
    
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .card-title{
        font-family: 'Julius Sans One', sans-serif;
    }

    .text {
      display: block;
      width: 95%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12;
      font-family: 'Julius Sans One', sans-serif;

    }
    .custom-file{
        max-width: 20%; 
    }

    img{
        padding: 10px
    }

     /*MODAL START */
    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 40%;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 600px){
      .modal-content {
        width: 100%;
      }
}

