{% extends 'base.html' %}

{% block content %}
	<div>
		<center><h3 style="padding-top: 30"> BUGS: </h3></center>

		

	<div>
	<table class="table table-sm">
		<tr class="bg-success">
			<th>
				User
			</th>
			<th>
				Issue
			</th>
			<th>
				DELETE
			</th>
		</tr>
		{% for bug in bugs %}
		<tr>
			<td>
				{{bug.USER_ID}}
			</td>
			<td>
				{{bug.DESCRIPTION}}
			</td>
			<td>
				<a href="bug_remover/{{bug.id}}" class="btn btn-success">Delete Bug</a>
			</td>
		</tr>


		{% else %}
			<li> No Bugs found </li><br>
		{% endfor %}	  
	</table>
	</div>

{% endblock %}

