{% extends 'base.html' %}

{% block content %}

<body>

<form method="post" action="">

	<div style="float:left">
		<center>
			{%for error in errors%}
				<h3 style="color:red">{{error}}</h3>
			{%endfor%}
		</center>

			<h4>Name</h4>

			<input type="text" name="name" id='nm'>
			<h4>HP:</h4>
			<input type="text" name="hp" value="10">
			<h4>AC:</h4>
			<input type="text" name="ac" value="10">
			<h4>Race</h4>

			<div class="form-group">
				<select name="race" class="form-control">
					{%for race in races%}
					<option value="{{race.RACE}}">{{race.RACE}}</option>
					{%endfor%}
				</select>
			</div>

			<h4>Class</h4>

			<div class="form-group">
				<select name="job" class="form-control">
					<option value="Bard">Bard</option>
					<option value="Barbarian">Barbarian</option>
					<option value="Cleric">Cleric</option>
					<option value="Druid">Druid</option>
					<option value="Monk">Monk</option>
					<option value="Paladin">Paladin</option>
					<option value="Ranger">Ranger</option>
					<option value="Rogue">Rogue</option>
					<option value="Sorcerer">Sorcerer</option>
					<option value="Fighter">Fighter</option>
					<option value="Wizard">Wizard</option>
					<option value="Warlock">Warlock</option>
				</select>
			</div>
		</div>
		<div style="float:right; width:70%">
				<h4>Description</h4>

				<textarea name = "description" cols="100" rows="8"></textarea>
			
		</div>
				<br><br>

		<table class="table table-sm">
			
			<tr class="bg-success">
				<th scope="col"> Attribute</th>
				<th scope="col">Abilty Score</th>
				<th scope="col"> Saving throw proficiency</th>
				<th> Half Elf Racial choice </th>

			</tr>
			<tr>
				<td>STR</td> 
				<td><select name="STRENGTH">
					<option value={{rolls[0]}} selected="selected">{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
				
				<td><input type="checkbox" name="STR_SAVE" id="STR_SAVE" value=1></td> 
				<input type="hidden" name="STR_SAVE" id ="STR_SAVE_HIDDEN" value=0>
				<td><input type="checkbox" name="H_E_Strength" value=1></td>
			</tr>
			<tr>
				<td>DEX</td>
				<td><select name="DEXTERITY">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}} selected="selected">{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
				
				<td><input type="checkbox" name="DEX_SAVE" id="DEX_SAVE" value=1></td> 
				<input type="hidden" name="DEX_SAVE" id ="DEX_SAVE_HIDDEN" value=0>
				<td><input type="checkbox" name="H_E_Dexterity" value=1></td> 
			</tr>
			<tr>
				<td>CON</td>
				<td><select name="CONSTITUTION">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}} selected="selected">{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
				<td><input type="checkbox" name="CON_SAVE" id="CON_SAVE" value=1></td> 
				<input type="hidden" name="CON_SAVE" value=0>
				<td><input type="checkbox" name="H_E_Constitution" value=1></td> 
			</tr>
			<tr>
				<td>INT</td>
				<td><select name="INTELLIGENCE">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}} selected="selected">{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
				<td><input type="checkbox" name="INT_SAVE" id="INT_SAVE" value=1></td> 
				<input type="hidden" name="INT_SAVE" value=0>
				<td><input type="checkbox" name="H_E_Intelligence" value=1></td> 
			</tr>
			<tr>
				<td>WIS</td>
				<td><select name="WISDOM">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}} selected="selected">{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
				<td><input type="checkbox" name="WIS_SAVE" id="WIS_SAVE" value=1></td> 
				<input type="hidden" name="WIS_SAVE" value=0>
				<td><input type="checkbox" name="H_E_Wisdom" value=1></td>
			</tr>
			<tr>
				<td>CHA</td>
				<td><select name="CHARISMA">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}} selected="selected">{{rolls[5]}}</option>
				</select></td>
				<td><input type="checkbox" name="CHA_SAVE" id="CHA_SAVE" value=1></td> 
				<input type="hidden" name="CHA_SAVE" value=0>
				<td><input type="checkbox" name="H_E_Charisma" value=1></td>
			</tr>
		  
		</table>
		<span style="font-size:10">Half elves get to add +1 to two different stats of their choice<span>
		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Skills</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics" id="acrobatics" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight" id="insight" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance" id="performance" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics" id="athletics" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation" id="intimidation" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion" id="persuasion" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling" id="animal_handling" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation" id="investigation" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion" id="religion" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana" id="arcana" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine" id="medicine" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand" id="sleightofhand" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception" id="deception" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature" id="nature" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth" id="stealth" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history" id="history" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception" id="perception" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival" id="survival" value=1></td>
			</tr>
		</table>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Expertise</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics_expert" id="acrobatics_expert" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight_expert" id="insight_expert" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance_expert" id="performance_expert" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics_expert" id="athletics_expert" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation_expert" id="intimidation_expert" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion_expert" id="persuasion_expert" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling_expert" id="animal_handling_expert" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation_expert" id="investigation_expert" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion_expert" id="religion_expert" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana_expert" id="arcana_expert" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine_expert" id="medicine_expert" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand_expert" id="sleightofhand_expert" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception_expert" id="deception_expert" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature_expert" id="nature_expert" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth_expert" id="stealth_expert" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history_expert" id="history_expert" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception_expert" id="perception_expert" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival_expert" id="survival_expert" value=1></td>
			</tr>
		</table>
		
	<br><br>
	<input type ="hidden" name="rolls[]" id="rolls">
	<button type="submit" value="Add Character" class="btn btn-outline-success">Create Character </button>
</form>

<script type="text/javascript">

	function makeid(length) {
	  var text = "";
	  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

	  for (var i = 0; i < length; i++)
	    text += possible.charAt(Math.floor(Math.random() * possible.length));

	  return text;
}


document.getElementById("nm").defaultValue = makeid(12);
console.log(makeid(12));

</script>
<h3 style="color:red"><strong>*NOTE:</strong> Racial bonuses applied after creation</h3>
</body>

{% endblock %}

