{% extends 'base.html' %}

{% block content %}
	<div>
		<center><h3 style="padding-top: 30"> Current Characters: </h3>
		<form action ="/" method="get">
			<h5>Sort By </h5>

		<select name="sort_on" id="sort">
			<h4>
				<option value='id'>Oldest to Newest</option>
				<option value='NAME'> Character Name (A-Z)</option>
				<option value='RACE'> Character Race (A-Z)</option>
				<option value='JOB'> Character Class (A-Z)</option>
			</h4>
		</select>

		<br>Reverse Order? <input type="checkbox"  id = "is_reverse" name="is_reverse" value="True">
		<br>
			<input type="submit" class="btn btn-outline-success" value="Submit">
		</form>

		</center>
		{%if admin%}
		<h5><a href="/command">Admin Console</a></h5>
		{%endif%}

	<div>
	{% set sort_on = request.args.sort_on|default('id')%}

	{% if request.args.is_reverse%}
		{% set is_reverse=True%} 
	{%else%}
		{% set is_reverse = False%} 
	{%endif%}

	{% for character in characters|sort(attribute=sort_on, reverse=is_reverse) %}

	  <div class="card">
	    <a href="info/{{character.id}}"><img class="card-img-top" src="/static/images/{{character.image}}" height = "230" width="100" alt="Card image cap"></a>
	    <div class="card-body">
	      <a href="info/{{character.id}}"><h5 class="card-title">
	      	<strong style="font-size: 16">{{character.NAME}} Level {{character.LEVEL}} {{character.RACE}} 
		      	{%if character.SUB%} 
			  		{{character.SUB}} 
				{%endif%} 
				{%if character.SUB%}
					{%if character.JOB != 'Rogue' and character.JOB != 'Fighter' and character.JOB != 'Ranger'%}
						<u>{{character.JOB}}</u>
					{%endif%}
				{%else%}
					<u>{{character.JOB}}</u>
				{%endif%}
			</strong></h5></a>
	      <p class="card-text"><div class="text">{{character.description}}</div></p>
	      <p class="card-text">
	      	<small class="text-white">
	      	Str: {{character.STRENGTH}}
			Dex: {{character.DEXTERITY}}
			Con: {{character.CONSTITUTION}}
			Int: {{character.INTELLIGENCE}}
			Wis: {{character.WISDOM}}
			Cha: {{character.CHARISMA}}
			</small>
		</p>
	    </div>
	  </div>


		{% else %}
			<li> No Characters found </li>
		{% endfor %}	  

	</div>
	<script>
		var vari=getUrlVars()

		document.getElementById("sort").value = vari['sort_on'];

		if (vari['is_reverse']=="True"){
			document.getElementById('is_reverse').checked = true;
		}

		function getUrlVars() {
		    var vars = {};
		    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		        vars[key] = value;
		    });
		    return vars;
		}

	</script>
{% endblock %}

