{% extends 'base.html' %}

{% block content %}

<body>
	<h3> Level 1 Character </h3>
<form method="post" action="">


			<h4>Name</h4>

			<input type="text" name="name" id='nm'>

			<h4>Race</h4>

			<div class="form-group">
				<select name="race" class="form-control">
					<option value="dragonborn">Dragonborn</option>
					<option value="dwarf">Dwarf</option>
					<option value="elf">Elf</option>
					<option value="gnome">Gnome</option>
					<option value="halfling">Halfling</option>
					<option value="half-elf">Half-Elf</option>
					<option value="half-orc">Half-Orc</option>
					<option value="human">Human</option>
					<option value="tiefling">Tiefling</option>
				</select>
			</div>

			<h4>Class</h4>

			<div class="form-group">
				<select name="job" class="form-control">
					<option value="bard">Bard</option>
					<option value="barbarian">Barbarian</option>
					<option value="cleric">Cleric</option>
					<option value="druid">Druid</option>
					<option value="monk">Monk</option>
					<option value="paladin">Paladin</option>
					<option value="ranger">Ranger</option>
					<option value="rogue">Rogue</option>
					<option value="sorcerer">Sorcerer</option>
					<option value="fighter">Fighter</option>
					<option value="wizard">Wizard</option>
					<option value="warlock">Warlock</option>
				</select>
			</div>

				<h4>Description</h4>

				<textarea name = "description" cols="100" rows="10"></textarea>
				<br><br>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col"> Attribute</th>
				<th cope="col">Abilty Score</th>

			</tr>
			<tr>
				<td>STR</td> 
				<td><select name="STRENGTH">
					<option value={{rolls[0]}} selected="selected">{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
			</tr>
			<tr>
				<td>DEX</td>
				<td><select name="DEXTERITY">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}} selected="selected">{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
			</tr>
			<tr>
				<td>CON</td>
				<td><select name="CONSTITUTION">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}} selected="selected">{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
			</tr>
			<tr>
				<td>INT</td>
				<td><select name="INTELLIGENCE">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}} selected="selected">{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
			</tr>
			<tr>
				<td>WIS</td>
				<td><select name="WISDOM">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}} selected="selected">{{rolls[4]}}</option>
					<option value={{rolls[5]}}>{{rolls[5]}}</option>
				</select></td>
			</tr>
			<tr>
				<td>CHA</td>
				<td><select name="CHARISMA">
					<option value={{rolls[0]}}>{{rolls[0]}}</option>
					<option value={{rolls[1]}}>{{rolls[1]}}</option>
					<option value={{rolls[2]}}>{{rolls[2]}}</option>
					<option value={{rolls[3]}}>{{rolls[3]}}</option>
					<option value={{rolls[4]}}>{{rolls[4]}}</option>
					<option value={{rolls[5]}} selected="selected">{{rolls[5]}}</option>
				</select></td>
			</tr>
		</table>

		<input type="checkbox" name="athletics" value=1> Athletics<br>
		<input type="checkbox" name="animal_handling" value =1> animal_handling<br>
		<input type="checkbox" name="arcana" value =1> arcana<br>
		<input type="checkbox" name="acrobatics" value =1> Acrobatics<br>
		<input type="checkbox" name="deception" value =1> deception<br>
		<input type="checkbox" name="history" value =1> history<br>
		<input type="checkbox" name="insight" value =1> insight<br>
		<input type="checkbox" name="intimidation" value =1> intimidation<br>
		<input type="checkbox" name="investigation" value =1> investigation<br>
		<input type="checkbox" name="medicine" value =1> medicine<br>
		<input type="checkbox" name="nature" value =1> nature<br>
		<input type="checkbox" name="preception" value =1> preception<br>
		<input type="checkbox" name="performance" value =1> performance<br>
		<input type="checkbox" name="religion" value =1> religion<br>
		<input type="checkbox" name="sleight_of_hand" value =1> sleight_of_hand<br>
		<input type="checkbox" name="stealth" value =1> stealth<br>
		<input type="checkbox" name="survival" value =1> survival<br>
	<br><br>
	<input type ="hidden" name="rolls[]" id="rolls">
	<button type="submit" value="Add Character" class="btn btn-primary">Create Character </button>
</form>

<script type="text/javascript">

	function makeid(length) {
	  var text = "";
	  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

	  for (var i = 0; i < length; i++)
	    text += possible.charAt(Math.floor(Math.random() * possible.length));

	  return text;
}


document.getElementById("nm").defaultValue = makeid(12);
console.log(makeid(12));

</script>
<p>*NOTE: Does not apply racial bonuses automatically</p>
</body>

{% endblock %}

