{% extends 'base.html' %}

{% block content %}
	<div>
		<center><h3> Current Characters: </h3></center>


		<div class="card-columns" style="column-count: 4;">

		{% for character in characters %}

	  <div class="card">
	    <a href="info/{{character.NAME}}"><img class="card-img-top" src="/static/images/{{character.image}}" height = "250" alt="Card image cap"></a>
	    <div class="card-body">
	      <a href="info/{{character.NAME}}"><h5 class="card-title"><strong>{{character.NAME}} Level {{character.LEVEL}} {{character.RACE}} {{character.JOB}}<strong></h5></a>
	      <p class="card-text"><div class="text" data-toggle="modal" data-target="#exampleModalLong">{{character.description}}</div></p>
	      <p class="card-text">
	      	<small class="text-muted">
	      	Str: {{character.STRENGTH}}
			Dex: {{character.DEXTERITY}}
			Con: {{character.CONSTITUTION}}
			Int: {{character.INTELLIGENCE}}
			Wis: {{character.WISDOM}}
			Cha: {{character.CHARISMA}}
			</small>
		</p>
	    </div>
	  </div>

		{% else %}
			<li> No Characters found </li>
		{% endfor %}	  

		</div>

{% endblock %}

