{% extends 'base.html' %}

{% block content %}
<p3> Please fill out form completely to edit your character </p3>

<form method="post" action="">
	<h5>Name:</h5>
	<input type="text" name="name">
	<span>{{character.NAME}}</span>

	<h5>Level:</h5>
	<input type="text" name="level">
	{{character.LEVEL}}

	<h5>CLASS/RACE:</h5>
	<select name="job">
		<option value="">Please Select</option>
		<option value="Bard">Bard</option>
		<option value="Barbarian">Barbarian</option>
		<option value="Cleric">Cleric</option>
		<option value="Druid">Druid</option>
		<option value="Monk">Monk</option>
		<option value="Paladin">Paladin</option>
		<option value="Ranger">Ranger</option>
		<option value="Rogue">Rogue</option>
		<option value="Sorcerer">Sorcerer</option>
		<option value="Fighter">Fighter</option>
		<option value="Wizard">Wizard</option>
		<option value="Warlock">Warlock</option>
	</select>
	
	<select name="race">
		<option value="">Please Select</option>
		<option value="dragonborn">Dragonborn</option>
		<option value="dwarf">Dwarf</option>
		<option value="elf">Elf</option>
		<option value="gnome">Gnome</option>
		<option value="halfling">Halfling</option>
		<option value="half-elf">Half-Elf</option>
		<option value="half-orc">Half-Orc</option>
		<option value="human">Human</option>
		<option value="tiefling">Tiefling</option>
	</select>

	{{character.JOB}}
	{{character.RACE}}

	<h5>STR:</h5>
	<input type="text" name="STRENGTH">
	{{character.STRENGTH}}
	<h5>DEX:</h5>
	<input type="text" name="DEXTERITY">
	{{character.DEXTERITY}}
	<h5>CON:</h5>
	<input type="text" name="CONSTITUTION">
	{{character.CONSTITUTION}}
	<h5>INT:</h5>
	<input type="text" name="INTELLIGENCE">
	{{character.INTELLIGENCE}}
	<h5>WIS:</h5>
	<input type="text" name="WISDOM">
	{{character.WISDOM}}
	<h5>CHA:</h5>
	<input type="text" name="CHARISMA">
	{{character.CHARISMA}}

	<br><br>

		<input type="hidden" name="edit" value="1">
		<input type="submit" value="Edit Character">
	</form>

<br><br>
<p>*NOTE: Does not apply racial bonuses automatically</p>
{% endblock %}