{% extends 'base.html' %}

{% block content %}
<center><h1>{{character.NAME}}</h1></center>
<div>
	<h2>HP {{character.HP}} AC {{character.AC}}</h2>
<div style="float:right; padding-right: 12">
	<form action="" method="post">
		<input type="hidden" name="remove" value="1">
		<button class="btn btn-outline-success" id="btnsucc" type="submit" value="Remove Character" onclick= "getConfirmation();" >Delete {{character.NAME}}.  </button>
	</form>
	<a  href="/edit/{{character.id}}" class="btn btn-outline-success" id="btnsucc">Edit {{character.NAME}}</a>
	<a  href="/add_to_features_known/{{character.id}}" class="btn btn-outline-success" id="btnsucc">Add Feat</a>
	{%if has_features%}
	<a href="/remove_from_features_known/{{character.id}}" class = "btn btn-outline-success" id ="btnsucc">Remove Feat</a>
	{%endif%}
</div>
	<h3>{{character.RACE}}
	Level {{character.LEVEL}} {%if character.SUB%} {{character.SUB}} {%endif%} 

	{%if character.SUB%}
		{%if character.JOB != 'Rogue' and character.JOB != 'Fighter' and character.JOB != 'Ranger'%}
			{{character.JOB}}
		{%endif%}
	{%else%}
		{{character.JOB}}
	{%endif%}

	{%if multi%}
	Level {{multi.LEVEL}} {%if multi.SUB%} {{multi.SUB}} {%endif%} {{multi.JOB}}</h3>
	Proficency Bonus: <span id="profMult"></span>
	{%else%}
	Proficency Bonus: <span id="prof"></span>
	{%endif%}
	</h3>

	<div style="display: inline;">
	{%if has_features%}
		{%for feature in features_known%}
			<a href='/view_features#{{feature.NAME}}'>{{feature.NAME}}</a>; 
		{%endfor%}
	{%endif%}
		<br>Current Experience: {{character.EXP}}. 
		{%if multi%}
		<br> Experience needeed for level {{character.LEVEL+1+multi.LEVEL}}: <span id="nextExpMult"></span>
		{%else%}
		<br> Experience needeed for level {{character.LEVEL+1}}: <span id="nextExp"></span>
		{%endif%}
	</div>

		<form action = "/uploader/{{character.id}}" method = "POST" enctype = "multipart/form-data">

			<div class="custom-file">
				<input type="file"  name ="file" class="custom-file-input" accept="image/*">
				<label class="custom-file-label" for="customFile">Image</label>

			</div>
			<input type = "submit" class="btn btn-outline-success" id="btnsucc"/>
		</form>


	<p>
		<img style="float:left"  src="/static/images/{{character.image}}" width = "250" height = "300" id="myImg">


		<p>{{character.description}}</p>

	</p>
		<table class="table table-sm">
			<tr class="bg-success">

				<th scope="col"> Attribute</th>
				<th cope="col"> Abilty Score</th>
				<th cope="col"> Ability Modifier </th>
			</tr>
			<tr  onclick="rollAttribute('Strength')">
				<td><i class="fas fa-dice-d20"></i> STR </td> 
				<td>{{character.STRENGTH}}</td>  
				<td><span id="str"></span> </td>
			</tr>
			<tr onclick="rollAttribute('Dexterity')">
				<td><i class="fas fa-dice-d20"></i> DEX</td>
				<td>{{character.DEXTERITY}}</td>
				<td> <span id="dex"></span></td>
			</tr>
			<tr onclick="rollAttribute('Constitution')">
				<td><i class="fas fa-dice-d20"></i> CON</td>
				<td>{{character.CONSTITUTION}}</td>
				<td> <span id="con"></span></td>
			</tr>
			<tr onclick="rollAttribute('Intelligence')">
				<td><i class="fas fa-dice-d20"></i> INT</td>
				<td>{{character.INTELLIGENCE}}</td>
				<td> <span id="int"></span></td>
			</tr>
			<tr onclick="rollAttribute('Wisdom')">
				<td><i class="fas fa-dice-d20"></i> WIS</td>
				<td>{{character.WISDOM }}</td>
				<td> <span id="wis"></span></td>
			</tr>
			<tr onclick="rollAttribute('Charisma')">
				<td><i class="fas fa-dice-d20"></i> CHA</td>
				<td> {{character.CHARISMA}}</td>
				<td> <span id="cha"></span></td>
			</tr>
		</table>
		<h3><center>Skills</center></h3>
		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center>(⭐ = Expertise)</center></th>
			</tr>
			<tr>
				<td onclick="rollSkill('Acrobatics',{{skills.Acrobatics_expert}},{{skills.Acrobatics}})"><i class="fas fa-dice-d20"></i> Acrobatics</td> 
				<td>
				{% if skills.Acrobatics_expert == 1 %}
				⭐
				{% elif skills.Acrobatics == 1%}
				✓
				{%else%}
				x
				{% endif %}
				</td> 
				<td onclick="rollSkill('Insight',{{skills.Insight_expert}},{{skills.Insight}})"><i class="fas fa-dice-d20"></i> Insight</td>
				<td>
				{% if skills.Insight_expert == 1 %}
				⭐
				{% elif skills.Insight == 1%}
				✓
				{%else%}
				x
				{% endif %}
				</td>
				<td onclick="rollSkill('Performance',{{skills.Performance_expert}},{{skills.Performance}})"><i class="fas fa-dice-d20"></i> Performance</td>
				<td>
				{% if skills.Performance_expert == 1 %}
				⭐
				{% elif skills.Performance == 1%}
				✓
				{%else%}
				x
				{% endif %}
				</td>
			</tr>
			<tr>
				<td onclick="rollSkill('Athletics',{{skills.Athletics_expert}},{{skills.Athletics}})"><i class="fas fa-dice-d20"></i> Athletics</td>
				<td>
				{% if skills.Athletics_expert == 1 %}
				⭐
				{% elif skills.Athletics == 1%}
				✓
				{%else%}
				x
				{% endif %}
				</td>
				<td onclick="rollSkill('Intimidation',{{skills.Intimidation_expert}},{{skills.Intimidation}})"><i class="fas fa-dice-d20"></i> Intimidation</td>
				<td>
				{% if skills.Intimidation_expert == 1 %}
				⭐
				{% elif skills.Intimidation == 1%}
				✓
				{%else%}
				x
				{% endif %}
				</td>
				<td onclick="rollSkill('Persuasion',{{skills.Persuasion_expert}},{{skills.Persuasion}})"><i class="fas fa-dice-d20"></i> Persuasion</td>
				<td>
				{% if skills.Persuasion_expert == 1 %}
				⭐
				{% elif skills.Persuasion == 1%}
				✓
				{%else%}
				x
				{% endif %}
			</td>
			</tr>
			<tr>
				<td onclick="rollSkill('Animal Handling',{{skills.Animal_Handling_expert}},{{skills.Animal_Handling}})"><i class="fas fa-dice-d20"></i> Animal Handling</td>
				<td>
				{% if skills.Animal_Handling_expert == 1 %}
				⭐
				{% elif skills.Animal_Handling == 1%}
				✓
				{%else%}
				x
				{% endif %}
			</td>
				<td onclick="rollSkill('Investigation',{{skills.Investigation_expert}},{{skills.Investigation}})"><i class="fas fa-dice-d20"></i> Investigation</td>
				<td>
				{% if skills.Investigation_expert == 1 %}
				⭐
				{% elif skills.Investigation == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Religion',{{skills.Religion_expert}},{{skills.Religion}})"><i class="fas fa-dice-d20"></i> Religion</td>
				<td>
				{% if skills.Religion_expert == 1 %}
				⭐
				{% elif skills.Religion == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
			</tr>
			<tr>
				<td onclick="rollSkill('Arcana',{{skills.Arcana_expert}},{{skills.Arcana}})"><i class="fas fa-dice-d20"></i> Arcana</td>
				<td>
				{% if skills.Arcana_expert == 1 %}
				⭐
				{% elif skills.Arcana == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Medicine',{{skills.Medicine_expert}},{{skills.Medicine}})"><i class="fas fa-dice-d20"></i> Medicine</td>
				<td>
				{% if skills.Medicine_expert == 1 %}
				⭐
				{% elif skills.Medicine == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Sleight of Hand',{{skills.Sleight_of_Hand_expert}},{{skills.Sleight_of_Hand_expert}})"><i class="fas fa-dice-d20"></i> Sleight of Hand</td>
				<td>
				{% if skills.Sleight_of_Hand_expert == 1 %}
				⭐
				{% elif skills.Sleight_of_Hand == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
			<tr>
				<td onclick="rollSkill('Deception',{{skills.Deception_expert}},{{skills.Deception}})"><i class="fas fa-dice-d20"></i> Deception</td>
				<td>
				{% if skills.Deception_expert == 1 %}
				⭐
				{% elif skills.Deception == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Nature',{{skills.Nature_expert}},{{skills.Nature}})"><i class="fas fa-dice-d20"></i> Nature</td>
				<td>
				{% if skills.Nature_expert == 1 %}
				⭐
				{% elif skills.Nature == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Stealth',{{skills.Stealth_expert}},{{skills.Stealth}})"><i class="fas fa-dice-d20"></i> Stealth</td>
				<td>
				{% if skills.Stealth_expert == 1 %}
				⭐
				{% elif skills.Stealth == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
			<tr>
				<td onclick="rollSkill('History',{{skills.History_expert}},{{skills.History}})"><i class="fas fa-dice-d20"></i> History</td>
				<td>
				{% if skills.History_expert == 1 %}
				⭐
				{% elif skills.History == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Perception',{{skills.Perception_expert}},{{skills.Perception}})"><i class="fas fa-dice-d20"></i> Perception</td>
				<td>
				{% if skills.Perception_expert == 1 %}
				⭐
				{% elif skills.Perception == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSkill('Survival',{{skills.Survival_expert}},{{skills.Survival}})"><i class="fas fa-dice-d20"></i> Survival</td>
				<td>
				{% if skills.Survival_expert == 1 %}
				⭐
				{% elif skills.Survival == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
		</table>

		<h3><center>Inventory <a href = "/{{character.id}}/add_item" style="font-size: 30; font-family: 'Titillium Web', sans-serif;">+</a></center></h3>
		<table class="table table-sm">
			<tr class="bg-success">
				<th>Item</th>
				<th>Description</th>
			</tr>
			{% for item in items %}
			<tr>
				<td><a href="/item_edit/{{item.NAME}}">{{item.NAME}}</td>
				<td>{{item.DESCRIPTION}}</td>
			</tr>
			{% endfor %}
		</table>

		<h3><center><a href = "/class_details/{{character.JOB}}">{{character.JOB}} Features</a></center></h3>

		<table class="table table-sm">
			<tr class="bg-success">
				<th>Level</th>
				<th>Features</th>
				{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" %}
				<th>Spells known</th>
				{% endif %}
				{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" or character.JOB == "Paladin" or character.JOB == "Wizard" or character.JOB == "Cleric" or character.JOB == "Druid"   %}
				<th> Spell Slots</th>
				{%endif %}
			</tr>

		{% for i in range(1, character.LEVEL+1) %}
		<tr>
		<td>{{i}}</td>
		{%if sub_dict[i]%}
			<td>{{feats_dict[i]}} <strong style="color:#88e291">{{character.SUB}}<strong> - {{sub_dict[i]}}
		{%else%}
			<td>{{feats_dict[i]}}</td>
		
		{%endif%}
		{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" %}
			<td>{{known_dict[i]}}</td>
		{% endif %}

		{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" or character.JOB == "Paladin" or character.JOB == "Wizard" or character.JOB == "Cleric" or character.JOB == "Druid"   %}
			<td>{{slots_dict[i]}}</td>
		{%endif %}
		</tr>
		{% endfor %}	 

		</table>

		{%if multi%}

		<h3><center><a href = "/class_details/{{multi.JOB}}">{{multi.JOB}} Class Features</a></center></h3>

		<table class="table table-sm">
			<tr class="bg-success">
				<th>Level</th>
				<th>Features</th>
				{% if multi.JOB == "Warlock" or multi.JOB == "Sorcerer" or multi.JOB == "Bard" or multi.JOB == "Ranger" %}
				<th>Spells known</th>
				{% endif %}
				{% if multi.JOB == "Warlock" or multi.JOB == "Sorcerer" or multi.JOB == "Bard" or multi.JOB == "Ranger" or multi.JOB == "Paladin" or multi.JOB == "Wizard" or multi.JOB == "Cleric" or multi.JOB == "Druid"   %}
				<th> Spell Slots</th>
				{%endif %}
			</tr>

		{% for i in range(1, multi.LEVEL+1) %}
		<tr>
		<td>{{i}}</td> 
		{%if multi_sub_dict[i]%}
			<td><strong style="color:red">{{multi.SUB}}<strong> - {{multi_sub_dict[i]}}
		{%else%}
			<td>{{multi_feats_dict[i]}}</td>
		
		{%endif%}


		{% if multi.JOB == "Warlock" or multi.JOB == "Sorcerer" or multi.JOB == "Bard" or multi.JOB == "Ranger" %}
			<td>{{multi_known_dict[i]}}</td>
		{% endif %}

		{% if multi.JOB == "Warlock" or multi.JOB == "Sorcerer" or multi.JOB == "Bard" or multi.JOB == "Ranger" or multi.JOB == "Paladin" or multi.JOB == "Wizard" or multi.JOB == "Cleric" or multi.JOB == "Druid"   %}
			<td>{{multi_slots_dict[i]}}</td>
		{%endif %}
		</tr>
		{% endfor %}	 

		</table>

		{%endif%}

		<h3><center> Spells known <a href = "/{{character.id}}/add_spell" style="font-size: 30; font-family: 'Titillium Web', sans-serif;">+</a></center></h3>
		<table class="table table-sm">
			<tr class="bg-success">
				<th>Spell name</th>
				<th> Spell level </th>
				<th> <center>Spell description</center></th>
			</tr>
				{%for spell in spells %}
			<tr>
				<td style="padding-right:50"><a href="/spell_edit/{{spell.NAME}}"> {{spell.NAME}}</a></td>
				<td style="padding-right:100"><center>{{spell.LEVEL}}</center></td>
				<td>{{spell.DESCRIPTION}}</td>
			</tr>
				{% endfor %}
		
		</table>
   	
	<hr>
	<br><br>

	<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script>    
	var xp = {2:300, 3:900, 4:2700, 5:6500, 6:14000, 7:23000, 8:34000, 9:48000, 10:64000, 11:85000, 12:100000, 13:1200000, 14:140000, 
    	15:165000, 16:195000, 17:225000, 18:265000, 19:305000, 20:355000}
    </script>
{%if multi%}
<script>


    if({{character.LEVEL+multi.LEVEL}}<20){
		document.getElementById("nextExpMult").innerHTML=xp[{{multi.LEVEL+1+character.LEVEL}}]-{{character.EXP}};
	}else{
		document.getElementById("nextExpMult").innerHTML="MAX LEVEL";
	}

	var prof=2;

	if({{character.LEVEL+multi.LEVEL}}>=17){
		prof=6;
	}else if({{character.LEVEL+multi.LEVEL}}>=12){
		prof=5;
	}else if({{character.LEVEL+multi.LEVEL}}>=9){
		prof=4; 
	}else if({{character.LEVEL+multi.LEVEL}}>=5){
		prof=3;
	}
	document.getElementById('profMult').innerHTML=prof;

</script>
{%endif%}
<script>

    function getConfirmation() {
       var retVal = confirm("All information about this character will be lost.\n Delete?");
       if( retVal == true ) {
          return true;
       } else {
          document.write ("Character not deleted");
          location.reload();
          return false;
       }
    }

	var mods = {1: -5, 2: -4, 3: -4, 4: -3, 5: -3, 6: -2, 7: -2, 8: -1, 9: -1, 10: 0, 11: 0, 12: 1, 13: 1, 14: 2, 15: 2, 16:
            3, 17: 3, 18: 4, 19: 4, 20: 5, 21: 5, 22: 6, 23: 6, 24: 7, 25: 7, 26: 8, 27: 8, 28: 9, 29: 9, 39: 10};

    document.getElementById("str").innerHTML= mods[{{character.STRENGTH}}];
    document.getElementById("dex").innerHTML= mods[{{character.DEXTERITY}}];
    document.getElementById("con").innerHTML= mods[{{character.CONSTITUTION}}];
    document.getElementById("int").innerHTML= mods[{{character.INTELLIGENCE}}];
    document.getElementById("wis").innerHTML= mods[{{character.WISDOM}}];
    document.getElementById("cha").innerHTML= mods[{{character.CHARISMA}}];

	if({{character.LEVEL}}<20){
		document.getElementById("nextExp").innerHTML=xp[{{character.LEVEL+1}}]-{{character.EXP}};
	}
	else{
		document.getElementById("nextExp").innerHTML="MAX LEVEL";
	}

	function rollAttribute(attribute_name){
		var roll=Math.floor(Math.random() * 20)+1;
		var ATTRIBUTE = 0;

		switch(attribute_name){
			case "Strength":
				ATTRIBUTE = {{character.STRENGTH}};
				break;
			case "Dexterity":
				ATTRIBUTE = {{character.DEXTERITY}};
				break;
			case "Constitution":
				ATTRIBUTE = {{character.CONSTITUTION}};
				break;
			case "Intelligence":
				ATTRIBUTE = {{character.INTELLIGENCE}};
			case "Wisdom":
				ATTRIBUTE = {{character.WISDOM}};
				break;
			case "Charisma":
				ATTRIBUTE = {{character.CHARISMA}};
				break;
		}
		
		var total=roll+mods[ATTRIBUTE];
		alert(attribute_name+" ROLL! \nYou rolled a: "+roll + " plus your "+ attribute_name +" MOD of: " +mods[ATTRIBUTE]+ " your total is: " +total+"!");
	}

	var prof=2;

	if({{character.LEVEL}}>=17){
		prof=6;
	}else if({{character.LEVEL}}>=12){
		prof=5;
	}else if({{character.LEVEL}}>=9){
		prof=4; 
	}else if({{character.LEVEL}}>=5){
		prof=3;
	}
	document.getElementById('prof').innerHTML=prof;


		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById('myImg');
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");
	img.onclick = function(){
	  modal.style.display = "block";
	  modalImg.src = this.src;
	  captionText.innerHTML = this.alt;
	}

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() { 
	  modal.style.display = "none";
	}
	
	function displaySkill(expert, skilled, id){
		if(expert==1){
			document.getElementById(id).innerHTML("⭐")
		}else if(skilled==1){
			document.getElementById(id).innerHTML("✓")
		}else{
			document.getElementById(id).innerHTML("x")
		}
	}

	function rollSkill(skill_name, expert, skilled){
		var roll=Math.floor(Math.random() * 20)+1;
	
		switch(skill_name){
			case "Acrobatics":ATTRIBUTE = {{character.DEXTERITY}};break;
			case "Athletics":ATTRIBUTE = {{character.STRENGTH}};break;
			case "Animal Handling":ATTRIBUTE = {{character.WISDOM}};break;
			case "Arcana":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Deception":ATTRIBUTE = {{character.CHARISMA}};break;
			case "History":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Insight":ATTRIBUTE = {{character.WISDOM}};break; 
			case "Intimidation":ATTRIBUTE = {{character.CHARISMA}};break;
			case "Investigation":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Medicine":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Nature":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Perception":ATTRIBUTE = {{character.WISDOM}};break;
			case "Performance":ATTRIBUTE = {{character.CHARISMA}};break;
			case "Persuasion":ATTRIBUTE = {{character.CHARISMA}};break;
			case "Religion":ATTRIBUTE = {{character.INTELLIGENCE}};break;
			case "Sleight of Hand":ATTRIBUTE = {{character.DEXTERITY}};break;
			case "Stealth":ATTRIBUTE = {{character.DEXTERITY}};break;
			case "Survival":ATTRIBUTE = {{character.WISDOM}};
		}
		
		if(expert==1){
			var total=roll+mods[ATTRIBUTE]+(prof*2);
			alert(skill_name+" ROLL! \nYou rolled a: "+roll + " plus your Attribute MOD of: " +mods[ATTRIBUTE]+" plus your Expertise modifier of: "+ prof*2 + " your total is: " +total+"!"); 
		}else if(skilled==1){
			var total=roll+mods[ATTRIBUTE]+prof;
			alert(skill_name+" ROLL! \nYou rolled a: "+roll + " plus your Attribute MOD of: " +mods[ATTRIBUTE]+" plus your Skill modifier of: "+ prof+ " your total is: " +total+"!"); 
		}else{
			var total=roll+mods[ATTRIBUTE];
			alert(skill_name+" ROLL! \nYou rolled a: "+roll + " plus your Attribute MOD of: " +mods[ATTRIBUTE]+" your total is: " +total+"!"); 

		}
	}

</script>
</div>
{% endblock %}
