{% extends 'base.html' %}

{% block content %}
<div>
	<h2>{{ character.NAME}}</h2> 	
<div style="float:right; padding-right: 12">
	<form action="" method="post">
		<input type="hidden" name="remove" value="1">
		<button class="btn btn-success" id="btnsucc" type="submit" value="Remove Character" onclick= "getConfirmation();" >Delete {{character.NAME}}.   </button>
	</form>
	<a  href="/edit/{{character.id}}" class="btn btn-success" id="btnsucc">Edit {{character.NAME}}</a>
</div>
	<h3> Level {{character.LEVEL}} {{character.RACE}} {{character.JOB}} - Proficency Bonus:<span id="prof"></span></h3>

		<form action = "/uploader/{{character.id}}" method = "POST" enctype = "multipart/form-data">

			<div class="custom-file"">
				<input type="file"  name ="file" class="custom-file-input" accept="image/*">
				<label class="custom-file-label" for="customFile">Character Portrait</label>

			</div>
			<input type = "submit" class="btn btn-success" id="btnsucc"/>
		</form>


	<p>
		<img style="float:left"  src="/static/images/{{character.image}}" width = "250" height = "300" id="myImg">


		<p>{{character.description}}</p>

	</p>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col"> Attribute</th>
				<th cope="col"> Abilty Score</th>
				<th cope="col"> Ability Modifier </th>
			</tr>
			<tr  onclick="rollStr()">
				<td><u>STR</u></td> 
				<td>{{character.STRENGTH}}</td> 
				<td><span id="str"></span> </td>
			</tr>
			<tr onclick="rollDex()">
				<td><u>DEX</u></td>
				<td>{{character.DEXTERITY}}</td>
				<td> <span id="dex"></span></td>
			</tr>
			<tr onclick="rollCon()">
				<td><u>CON</u></td>
				<td>{{character.CONSTITUTION}}</td>
				<td> <span id="con"></span></td>
			</tr>
			<tr onclick="rollInt()">
				<td><u>INT</u></td>
				<td>{{character.INTELLIGENCE}}</td>
				<td> <span id="int"></span></td>
			</tr>
			<tr onclick="rollWis()">
				<td><u>WIS</u></td>
				<td>{{character.WISDOM }}</td>
				<td> <span id="wis"></span></td>
			</tr>
			<tr onclick="rollCha()">
				<td><u>CHA</u></td>
				<td> {{character.CHARISMA}}</td>
				<td> <span id="cha"></span></td>
			</tr>
		</table>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Skills</center></th>
			</tr>
			<tr>
				<td onclick="rollAcrobatics()"><u>Acrobatics</u></td> 
				<td>
				{% if skills.Acrobatics == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td> 
				<td onclick="rollInsight()"><u>Insight</u></td>
				<td>{% if skills.Insight == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
				<td onclick="rollPerformance()"><u>Performance</u></td>
				<td>{% if skills.Performance == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
			</tr>
			<tr>
				<td onclick="rollAthletics()"><u>Athletics</u></td>
				<td>{% if skills.Athletics == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
				<td onclick="rollIntimidation()"><u>Intimidation</u></td>
				<td>{% if skills.Intimidation == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
				<td onclick="rollReligion()"><u>Religion</u></td>
				<td>{% if skills.Religion == 1 %}
				✓
				{% else%}
				x
				{% endif %}
				</td>
			</tr>
			<tr>
				<td onclick="rollAnimal()"><u>Animal Handling</u></td>
				<td>{% if skills.Animal_Handling == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollInvestigation()"><u>Investigation</u></td>
				<td>{% if skills.Investigation == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSleight()"><u>Sleight of Hand</u></td>
				<td>{% if skills.Sleight_of_Hand == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
			<tr>
				<td onclick="rollArcana()"><u>Arcana</u></td>
				<td>{% if skills.Arcana == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollMedicine()"><u>Medicine</u></td>
				<td>{% if skills.Medicine == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollStealth()"><u>Stealth</u></td>
				<td>{% if skills.Stealth == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
			<tr>
				<td onclick="rollDeception()"><u>Deception</u></td>
				<td>{% if skills.Deception == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollNature()"><u>Nature</u></td>
				<td>{% if skills.Nature == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollSurvival()"><u>Survival</u></td>
				<td>{% if skills.Survival == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
			<tr>
				<td onclick="rollHistory()"><u>History</u></td>
				<td>{% if skills.History == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollPerception()"><u>Perception</u></td>
				<td>{% if skills.Perception == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
				<td onclick="rollPersuasion()"><u>Persuasion</u></td>
				<td>{% if skills.Persuasion == 1 %}
				✓
				{% else%}
				x
				{% endif %}</td>
			</tr>
		</table>
	
		<h3><center><a href = "/class_details/{{character.JOB}}">Class Features</a></center></h3>

		<table class="table table-sm">
			<tr class="bg-success">
				<th>Level</th>
				<th>Features</th>
				{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" %}
				<th>Spells known</th>
				{% endif %}
				{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" or character.JOB == "Paladin" or character.JOB == "Wizard" or character.JOB == "Cleric" or character.JOB == "Druid"   %}
				<th> Spell Slots</th>
				{%endif %}
			</tr>

		{% for i in range(1, character.LEVEL+1) %}
		<tr>
		<td>{{i}}</td> 
		<td>{{feats_dict[i]}}</td>
		{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" %}

		<td>{{known_dict[i]}}</td>
		{% endif %}
		{% if character.JOB == "Warlock" or character.JOB == "Sorcerer" or character.JOB == "Bard" or character.JOB == "Ranger" or character.JOB == "Paladin" or character.JOB == "Wizard" or character.JOB == "Cleric" or character.JOB == "Druid"   %}
		<td>{{slots_dict[i]}}</td>
		{%endif %}
		</tr>
		{% endfor %}	 

		</table>
		<h3><center> Spells known <a href = "/{{character.id}}/add_spell">➕</a></center></h3>
		<table class="table table-sm">
			<tr class="bg-success">
				<th>Spell name</th>
				<th> Spell level </th>
				<th> <center>Spell description</center></th>
			</tr>
				{%for spell in spells %}
			<tr>
				<td style="padding-right:50"><a href="/spell_edit/{{spell.NAME}}"> {{spell.NAME}}</a></td>
				<td style="padding-right:100"><center>{{spell.LEVEL}}</center></td>
				<td>{{spell.DESCRIPTION}}</td>
			</tr>
				{% endfor %}
		
		</table>
   	
	<hr>
	<br><br>

	<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>



<script>

    function getConfirmation() {
       var retVal = confirm("Do you want to continue ?");
       if( retVal == true ) {
          return true;
       } else {
          document.write ("Character not deleted");
          location.reload();
          return false;
       }
    }

	var mods = {1: -5, 2: -4, 3: -4, 4: -3, 5: -3, 6: -2, 7: -2, 8: -1, 9: -1, 10: 0, 11: 0, 12: 1, 13: 1, 14: 2, 15: 2, 16:
            3, 17: 3, 18: 4, 19: 4, 20: 5, 21: 5, 22: 6, 23: 6, 24: 7, 25: 7, 26: 8, 27: 8, 28: 9, 29: 9, 39: 10};

    document.getElementById("str").innerHTML= mods[{{character.STRENGTH}}];
    document.getElementById("dex").innerHTML= mods[{{character.DEXTERITY}}];
    document.getElementById("con").innerHTML= mods[{{character.CONSTITUTION}}];
    document.getElementById("int").innerHTML= mods[{{character.INTELLIGENCE}}];
    document.getElementById("wis").innerHTML= mods[{{character.WISDOM}}];
    document.getElementById("cha").innerHTML= mods[{{character.CHARISMA}}];


    function rollStr(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.STRENGTH}}];
		alert("STRENGTH ROLL! \nYou rolled a: "+roll + " plus your STR MOD of: " +mods[{{character.STRENGTH}}]+ " your total is: " +total+"!");
	}

    function rollDex(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.DEXTERITY}}];
		alert("DEXTERITY ROLL! \nYou rolled a: "+roll + " plus your DEX MOD of: " +mods[{{character.DEXTERITY}}]+ " your total is: " +total+"!");
	}

    function rollCon(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.CONSTITUTION}}];
		alert("CONSTITUTION ROLL! \nYou rolled a: "+roll + " plus your CON MOD of: " +mods[{{character.CONSTITUTION}}]+ " your total is: " +total+"!");
	}

	function rollInt(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.INTELLIGENCE}}];
		alert("INTELLIGENCE ROLL! \nYou rolled a: "+roll + " plus your INT MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
	}

    function rollWis(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.WISDOM}}];
		alert("WISDOM ROLL! \nYou rolled a: "+roll + " plus your WIS MOD of: " +mods[{{character.WISDOM}}]+ " your total is: " +total+"!");
	}

	function rollCha(){
		var roll=Math.floor(Math.random() * 20)+1;
		var total=roll+mods[{{character.CHARISMA}}];
		alert("CHARIMSA ROLL! \nYou rolled a: "+roll + " plus your CHA MOD of: " +mods[{{character.CHARISMA}}]+ " your total is: " +total+"!");
	}


	var prof=2;

	if({{character.LEVEL}}>=17){
		prof=6;
	}else if({{character.LEVEL}}>=12){
		prof=5;
	}else if({{character.LEVEL}}>=9){
		prof=4; 
	}else if({{character.LEVEL}}>=5){
		prof=3;
	}
	document.getElementById('prof').innerHTML=prof;


		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById('myImg');
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");
	img.onclick = function(){
	  modal.style.display = "block";
	  modalImg.src = this.src;
	  captionText.innerHTML = this.alt;
	}

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() { 
	  modal.style.display = "none";
	}
	
	function displaySill(skill,id){
		if(skill==1){
			document.getElementById(id).innerHTML("✓")
		}else{
			document.getElementById(id).innerHTML("x")
		}
	}

	function rollAcrobatics(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Acrobatics}}==1){
			var total=roll+mods[{{character.DEXTERITY}}]+prof;
			alert("Acrobatics ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.DEXTERITY}}];
			alert("Acrobatics ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+ " your total is: " +total+"!");
		}
		
	}
	function  rollStealth(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Stealth}}==1){
			var total=roll+mods[{{character.DEXTERITY}}]+prof;
			alert("Stealth ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.DEXTERITY}}];
			alert("Stealth ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollSleight(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Sleight_of_Hand}}==1){
			var total=roll+mods[{{character.DEXTERITY}}]+prof;
			alert("Sleight of Hand ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.DEXTERITY}}];
			alert("Sleight of Hand ROLL! \nYou rolled a: "+roll + " plus your Dex MOD of: " +mods[{{character.DEXTERITY}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollAthletics(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Athletics}}==1){
			var total=roll+mods[{{character.STRENGTH}}]+prof;
			alert("Athletics ROLL! \nYou rolled a: "+roll + " plus your Str MOD of: " +mods[{{character.STRENGTH}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.STRENGTH}}];
			alert("Athletics ROLL! \nYou rolled a: "+roll + " plus your Str MOD of: " +mods[{{character.STRENGTH}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollAnimal(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Animal_Handling}}==1){
			var total=roll+mods[{{character.WISDOM}}]+prof;
			alert("Animal Handling ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.WISDOM}}];
			alert("Animal Handling ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollInsight(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Insight}}==1){
			var total=roll+mods[{{character.WISDOM}}]+prof;
			alert("Insight ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.WISDOM}}];
			alert("Insight ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollPerception(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Perception}}==1){
			var total=roll+mods[{{character.WISDOM}}]+prof;
			alert("Perception ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.WISDOM}}];
			alert("Perception ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollSurvival(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Survival}}==1){
			var total=roll+mods[{{character.WISDOM}}]+prof;
			alert("Survival ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.WISDOM}}];
			alert("Survival ROLL! \nYou rolled a: "+roll + " plus your Wis MOD of: " +mods[{{character.WISDOM}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollArcana(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Arcana}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("Arcana ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("Arcana ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollHistory(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.History}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("History ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("History ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollInvestigation(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Investigation}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("Investigation ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("Investigation ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollMedicine(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Medicine}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("Medicine ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("Medicine ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollNature(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Nature}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("Nature ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("Nature ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollReligion(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Religion}}==1){
			var total=roll+mods[{{character.INTELLIGENCE}}]+prof;
			alert("Religion ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.INTELLIGENCE}}];
			alert("Religion ROLL! \nYou rolled a: "+roll + " plus your Int MOD of: " +mods[{{character.INTELLIGENCE}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollDeception(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Deception}}==1){
			var total=roll+mods[{{character.CHARISMA}}]+prof;
			alert("Deception ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.CHARISMA}}];
			alert("Deception ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollPersuasion(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Persuasion}}==1){
			var total=roll+mods[{{character.CHARISMA}}]+prof;
			alert("Persuasion ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.CHARISMA}}];
			alert("Persuasion ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollPerformance(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Performance}}==1){
			var total=roll+mods[{{character.CHARISMA}}]+prof;
			alert("Performance ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.CHARISMA}}];
			alert("Performance ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+ " your total is: " +total+"!");
		}
		
	}
	function rollIntimidation(){
		var roll=Math.floor(Math.random() * 20)+1;

		if({{skills.Intimidation}}==1){
			var total=roll+mods[{{character.CHARISMA}}]+prof;
			alert("Intimidation ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+" plus your Proficency modifier of: "+ prof + " your total is: " +total+"!");
		}else{
			var total=roll+mods[{{character.CHARISMA}}];
			alert("Intimidation ROLL! \nYou rolled a: "+roll + " plus your Cha MOD of: " +mods[{{character.CHARISMA}}]+ " your total is: " +total+"!");
		}
		
	}


</script>
</div>
{% endblock %}
