{% extends 'base.html' %}

{% block content %}
<center><p3> Any Blank fields will retain their previous values</p3></center>

	{%for error in errors%}
		<h3 style="color:red">{{error}}</h3>
	{%endfor%}

<form method="post" action="">
	<center>
	<div style="float:left">
		<h4>Name:</h4>
		<input type="text" name="name" value="{{character.NAME}}">
		
		<h4>Race:</h4>

		<div class="form-group">

			<select name="race" class="form-control" id="race">
				<option value="">Please Select</option>
				{%for race in races%}
					<option value="{{race.RACE}}">{{race.RACE}}</option>
				{%endfor%}
			</select>
		</div>



		<h4>EXP </h4>
		<input type="text" name="exp" value={{character.EXP}}>

		<h4>HP:</h4>
		<input type="text" name="hp" value ={{character.HP}}>
		<h4>AC:</h4>
		<input type="text" name="ac" value ={{character.AC}}>
		<br><br>
		<h4>CLASS:</h4>

		<div class="form-group">
				<select name="level" class="form-control" id ="level">
					<option value="">Please Select</option>
					{%for i in range(1,21)%}
						<option value="{{i}}">Level {{i}}</option>
					{%endfor%}
				</select>
			</div>

		<div class="form-group">

		<select name="job" class="form-control" id="job" onchange="setSubClasses()">
			<option value="">Please Select</option>
			<option value="Bard">Bard</option>
			<option value="Barbarian">Barbarian</option>
			<option value="Cleric">Cleric</option>
			<option value="Druid">Druid</option>
			<option value="Monk">Monk</option>
			<option value="Paladin">Paladin</option>
			<option value="Ranger">Ranger</option>
			<option value="Rogue">Rogue</option>
			<option value="Sorcerer">Sorcerer</option>
			<option value="Fighter">Fighter</option>
			<option value="Wizard">Wizard</option>
			<option value="Warlock">Warlock</option>
		</select>
	</div>


	<div class="form-group">

		<select name="sub" class="form-control" id="sub_job">
			<option value="Remove">Please Select</option>
			<!-- {%for sub in sub_job_dict[job]%}
					option value = "{{sub}}"> {{sub}}</option>
			     {%endfor%}
				/-->
			{%for sub in subs%} 
				<option value="{{sub.SUB_JOB}}">{{sub.SUB_JOB}}</option>
			{%endfor%}
			<option value="Remove">Remove Sub class</option>
		</select>
	</div>
		
<h4>Secondary Class</h4>

	<div class="form-group">
				<select name="level_multi" class="form-control" id ="multi_level">
					<option value="">Please Select</option>
					{%for i in range(1,21)%}
					<option value="{{i}}">Level {{i}}</option>
					{%endfor%}
				</select>
	</div>

	<div class="form-group">
		<select name="job_multi" class="form-control" id ="job_multi" onchange="setMultiSub()">
			<option value="None">Please Select</option>
			<option value="Bard">Bard</option>
			<option value="Barbarian">Barbarian</option>
			<option value="Cleric">Cleric</option>
			<option value="Druid">Druid</option>
			<option value="Monk">Monk</option>
			<option value="Paladin">Paladin</option>
			<option value="Ranger">Ranger</option>
			<option value="Rogue">Rogue</option>
			<option value="Sorcerer">Sorcerer</option>
			<option value="Fighter">Fighter</option>
			<option value="Wizard">Wizard</option>
			<option value="Warlock">Warlock</option>
			<option value="Remove">Remove secondary class</option>
		</select>
	</div>

	{%if multi%}

	<div class="form-group">

		<select name="multi_sub" class="form-control" id ="multi_sub">
			<option value="">Please Select</option>
			{%for sub in multi_subs%}
				<option value="{{sub.SUB_JOB}}">{{sub.SUB_JOB}}</option>
			{%endfor%}
			<option value="Remove">Remove secondary Sub class</option>
		</select>
	</div>

	{%endif%}

	<br><hl><br>
	</div>
</center>
	<center>
	<h4>Description</h4>
	<textarea name = "description" cols="80" rows="10" class="formcontrol">{{character.description}}</textarea>
	</center>

	<br><br>

<div style="max-width: 90%; float:center">
	
	<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col"> Attribute</th>
				<th cope="col"> Abilty Score</th>

			</tr>
			<tr class=> 
				<td>STR</td> 

				<td><input type="text" name="STRENGTH" value={{character.STRENGTH}}> </td>
			</tr>
			<tr>
				<td>DEX</td>

				<td> <input type="text" name="DEXTERITY" value={{character.DEXTERITY}}></td>
			</tr>
			<tr>
				<td>CON</td>

				<td> <input type="text" name="CONSTITUTION" value={{character.CONSTITUTION}}></td>
			</tr>
			<tr>
				<td>INT</td>

				<td> <input type="text" name="INTELLIGENCE" value={{character.INTELLIGENCE}}></td>
			</tr>
			<tr>
				<td>WIS</td>

				<td> <input type="text" name="WISDOM" value={{character.WISDOM}}></td>
			</tr>
			<tr>
				<td>CHA</td>

				<td> <input type="text" name="CHARISMA" value={{character.CHARISMA}}></td>
			</tr>
		</table>
		<h5 style="color:red"><strong>*NOTE:</strong> If switching to Half Elf or Warforged Envoy add your two stat +1 bonus manually</h5>
		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Skills</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics" id="acrobatics" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight" id="insight" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance" id="performance" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics" id="athletics" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation" id="intimidation" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion" id="persuasion" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling" id="animalhandling" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation" id="investigation" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion" id="religion" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana" id="arcana" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine" id="medicine" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand" id="sleightofhand" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception" id="deception" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature" id="nature" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth" id="stealth" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history" id="history" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception" id="perception" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival" id="survival" value=1></td>
			</tr>
		</table>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center>Expertise</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics_expert" id="acrobatics_expert" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight_expert" id="insight_expert" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance_expert" id="performance_expert" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics_expert" id="athletics_expert" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation_expert" id="intimidation_expert" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion_expert" id="persuasion_expert" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling_expert" id="animalhandling_expert" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation_expert" id="investigation_expert" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion_expert" id="religion_expert" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana_expert" id="arcana_expert" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine_expert" id="medicine_expert" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand_expert" id="sleight_of_hand_expert" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception_expert" id="deception_expert" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature_expert" id="nature_expert" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth_expert" id="stealth_expert" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history_expert" id="history_expert" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception_expert" id="perception_expert" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival_expert" id="survival_expert" value=1></td>
			</tr>
		</table>

</div>
	<br><br>

		<input type="hidden" name="edit" value="1">
		<button type="submit" value="Edit Character" href="/info/{{character.id}}" class="btn btn-outline-success" id="btnsucc">Save Character</button>
	</form>

{%if multi%}
	<script>
		document.getElementById("multi_sub").value="{{multi.SUB}}";
		document.getElementById("job_multi").value="{{multi.JOB}}";
		document.getElementById("multi_level").value="{{multi.LEVEL}}";


		function setMultiSub(){

		var job=String(document.getElementById("job_multi").value);

		console.log(job);

		document.getElementById("multi_sub").options.length=0;
		var len =0
		var i=0;

		switch(job){
			case"Bard":
				var list = {{sub_job_dict["Bard"]|safe}};
				len = {{sub_job_dict["Bard"]|safe}}.length;
				break;
			case"Barbarian":
				var list = {{sub_job_dict["Barbarian"]|safe}};
				len = {{sub_job_dict["Barbarian"]|safe}}.length;
				break;
			case"Cleric":
				var list = {{sub_job_dict["Cleric"]|safe}};
				len = {{sub_job_dict["Cleric"]|safe}}.length;
				break;
			case"Druid":
				var list = {{sub_job_dict["Druid"]|safe}};
				len = {{sub_job_dict["Druid"]|safe}}.length;
				break;
			case "Fighter":
				var list = {{sub_job_dict["Fighter"]|safe}};
				len = {{sub_job_dict["Fighter"]|safe}}.length;
				break;
			case"Monk":
				var list = {{sub_job_dict["Monk"]|safe}};
				len = {{sub_job_dict["Monk"]|safe}}.length;
				break;
			case"Paladin":
				var list = {{sub_job_dict["Paladin"]|safe}};
				len = {{sub_job_dict["Paladin"]|safe}}.length;
				break;
			case"Ranger":
				var list = {{sub_job_dict["Ranger"]|safe}};
				len = {{sub_job_dict["Ranger"]|safe}}.length;
				break;
			case"Rogue":
				var list = {{sub_job_dict["Rogue"]|safe}};
				len = {{sub_job_dict["Rogue"]|safe}}.length;
				break;
			case"Sorcerer":
				var list = {{sub_job_dict["Sorcerer"]|safe}};
				len = {{sub_job_dict["Sorcerer"]|safe}}.length;
				break;
			case"Warlock":
				var list = {{sub_job_dict["Warlock"]|safe}};
				len = {{sub_job_dict["Warlock"]|safe}}.length;
				break;
			case "Wizard":
				var list = {{sub_job_dict["Wizard"]|safe}};
				len = {{sub_job_dict["Wizard"]|safe}}.length;
				break;
	
		}	
		
		
		console.log(len)
		console.log(list)	
		document.getElementById("multi_sub").options[0]=new Option("Please Select","");
		for(i=1;i<len;i++)
		{
		document.getElementById("multi_sub").options[i]=new Option(list[i], list[i]);
		}
		//document.getElementById("sub_job").innerHTML=
		
	}


	</script>
{%endif%}

<script>
	document.getElementById("level").value= "{{character.LEVEL}}";
	document.getElementById("job").value = "{{character.JOB}}";
	document.getElementById("race").value = "{{character.RACE}}";
	document.getElementById("sub_job").value = "{{character.SUB}}";
	
	

	function setSubClasses(){

		var job=String(document.getElementById("job").value);

		console.log(job);

		document.getElementById("sub_job").options.length=0;
		var len =0
		var i=0;

		switch(job){
			case"Bard":
				var list = {{sub_job_dict["Bard"]|safe}};
				len = {{sub_job_dict["Bard"]|safe}}.length;
				break;
			case"Barbarian":
				var list = {{sub_job_dict["Barbarian"]|safe}};
				len = {{sub_job_dict["Barbarian"]|safe}}.length;
				break;
			case"Cleric":
				var list = {{sub_job_dict["Cleric"]|safe}};
				len = {{sub_job_dict["Cleric"]|safe}}.length;
				break;
			case"Druid":
				var list = {{sub_job_dict["Druid"]|safe}};
				len = {{sub_job_dict["Druid"]|safe}}.length;
				break;
			case "Fighter":
				var list = {{sub_job_dict["Fighter"]|safe}};
				len = {{sub_job_dict["Fighter"]|safe}}.length;
				break;
			case"Monk":
				var list = {{sub_job_dict["Monk"]|safe}};
				len = {{sub_job_dict["Monk"]|safe}}.length;
				break;
			case"Paladin":
				var list = {{sub_job_dict["Paladin"]|safe}};
				len = {{sub_job_dict["Paladin"]|safe}}.length;
				break;
			case"Ranger":
				var list = {{sub_job_dict["Ranger"]|safe}};
				len = {{sub_job_dict["Ranger"]|safe}}.length;
				break;
			case"Rogue":
				var list = {{sub_job_dict["Rogue"]|safe}};
				len = {{sub_job_dict["Rogue"]|safe}}.length;
				break;
			case"Sorcerer":
				var list = {{sub_job_dict["Sorcerer"]|safe}};
				len = {{sub_job_dict["Sorcerer"]|safe}}.length;
				break;
			case"Warlock":
				var list = {{sub_job_dict["Warlock"]|safe}};
				len = {{sub_job_dict["Warlock"]|safe}}.length;
				break;
			case "Wizard":
				var list = {{sub_job_dict["Wizard"]|safe}};
				len = {{sub_job_dict["Wizard"]|safe}}.length;
				break;
	
		}	

		
		console.log(len)
		console.log(list)	
		document.getElementById("sub_job").options[0]=new Option("Please Select","");
		for(i=1;i<len;i++)
		{
		document.getElementById("sub_job").options[i]=new Option(list[i], list[i]);
		}
		//document.getElementById("sub_job").innerHTML=
		
	}


	if({{skills.Athletics}}==1){
		document.getElementById("athletics").checked = true;
	}
	if({{skills.Acrobatics}}==1){
		document.getElementById("acrobatics").checked = true;
	}
	if({{skills.Animal_Handling}}==1){
		document.getElementById("animalhandling").checked = true;
	}
	if({{skills.Arcana}}==1){
		document.getElementById("arcana").checked = true;
	}
	if({{skills.Deception}}==1){
		document.getElementById("deception").checked = true;
	}
	if({{skills.History}}==1){
		document.getElementById("history").checked = true;
	}
	if({{skills.Insight}}==1){
		document.getElementById("insight").checked = true;
	}
	if({{skills.Intimidation}}==1){
		document.getElementById("intimidation").checked = true;
	}
	if({{skills.Investigation}}==1){
		document.getElementById("investigation").checked = true;
	}
	if({{skills.Performance}}==1){
		document.getElementById("performance").checked = true;
	}
	if({{skills.Religion}}==1){
		document.getElementById("religion").checked = true;
	}
	if({{skills.Sleight_of_Hand}}==1){
		document.getElementById("sleightofhand").checked = true;
	}
	if({{skills.Stealth}}==1){
		document.getElementById("stealth").checked = true;
	}
	if({{skills.Survival}}==1){
		document.getElementById("survival").checked = true;
	}
	if({{skills.Persuasion}}==1){
		document.getElementById("persuasion").checked = true;
	}
	if({{skills.Medicine}}==1){
		document.getElementById("medicine").checked = true;
	}
	if({{skills.Nature}}==1){
		document.getElementById("nature").checked = true;
	}
	if({{skills.Perception}}==1){
		document.getElementById("perception").checked = true;
	}
	//Expertise
	if({{skills.Athletics_expert}}==1){
		document.getElementById("athletics_expert").checked = true;
	}
	if({{skills.Acrobatics_expert}}==1){
		document.getElementById("acrobatics_expert").checked = true;
	}
	if({{skills.Animal_Handling_expert}}==1){
		document.getElementById("animalhandling_expert").checked = true;
	}
	if({{skills.Arcana_expert}}==1){
		document.getElementById("arcana_expert").checked = true;
	}
	if({{skills.Deception_expert}}==1){
		document.getElementById("deception_expert").checked = true;
	}
	if({{skills.History_expert}}==1){
		document.getElementById("history_expert").checked = true;
	}
	if({{skills.Insight_expert}}==1){
		document.getElementById("insight_expert").checked = true;
	}
	if({{skills.Intimidation_expert}}==1){
		document.getElementById("intimidation_expert").checked = true;
	}
	if({{skills.Investigation_expert}}==1){
		document.getElementById("investigation_expert").checked = true;
	}
	if({{skills.Performance_expert}}==1){
		document.getElementById("performance_expert").checked = true;
	}
	if({{skills.Religion_expert}}==1){
		document.getElementById("religion_expert").checked = true;
	}
	if({{skills.Sleight_of_Hand_expert}}==1){
		document.getElementById("sleight_of_hand_expert").checked = true;
	}
	if({{skills.Stealth_expert}}==1){
		document.getElementById("stealth_expert").checked = true;
	}
	if({{skills.Survival_expert}}==1){
		document.getElementById("survival_expert").checked = true;
	}
	if({{skills.Persuasion_expert}}==1){
		document.getElementById("persuasion_expert").checked = true;
	}
	if({{skills.Medicine_expert}}==1){
		document.getElementById("medicine_expert").checked = true;
	}
	if({{skills.Nature_expert}}==1){
		document.getElementById("nature_expert").checked = true;
	}
	if({{skills.Perception_expert}}==1){
		document.getElementById("perception_expert").checked = true;
	}
</script>
<br><br>
<h3 style="color:red"><strong>*NOTE:</strong> Racial bonuses applied after creation</h3>

{% endblock %}