{% extends 'base.html' %}

{% block content %}
<form method="post" action="">

	<div style="float:left">

			<h4>Name</h4>

			<input type="text" name="name" id='nm'>
			<h4>HP:</h4>
			<input type="text" name="hp" value="10">
			<h4>AC:</h4>
			<input type="text" name="ac" value="10">
			<h4> Level: </h4>

			<div class="form-group">
				<select name="level" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select>
			</div>

			<h4>Race</h4>


			<div class="form-group">
				<select name="race" class="form-control">
					{%for race in races%}
					<option value="{{race.RACE}}">{{race.RACE}}</option>
					{%endfor%}
				</select>
			</div>
			
			<h4>Class</h4>

			<div class="form-group">
				<select name="job" class="form-control">
					<option value="Bard">Bard</option>
					<option value="Barbarian">Barbarian</option>
					<option value="Cleric">Cleric</option>
					<option value="Druid">Druid</option>
					<option value="Monk">Monk</option>
					<option value="Paladin">Paladin</option>
					<option value="Ranger">Ranger</option>
					<option value="Rogue">Rogue</option>
					<option value="Sorcerer">Sorcerer</option>
					<option value="Fighter">Fighter</option>
					<option value="Wizard">Wizard</option>
					<option value="Warlock">Warlock</option>
				</select>
			</div>

			<h4>Secondary Class</h4>

		<div class="form-group">
			<select name="job_multi" class="form-control">
				<option value="None">None</option>
				<option value="Bard">Bard</option>
				<option value="Barbarian">Barbarian</option>
				<option value="Cleric">Cleric</option>
				<option value="Druid">Druid</option>
				<option value="Monk">Monk</option>
				<option value="Paladin">Paladin</option>
				<option value="Ranger">Ranger</option>
				<option value="Rogue">Rogue</option>
				<option value="Sorcerer">Sorcerer</option>
				<option value="Fighter">Fighter</option>
				<option value="Wizard">Wizard</option>
				<option value="Warlock">Warlock</option>
			</select>
		</div>

	<h4>Secondary classLevel</h4>
	<div class="form-group">
		<select name="level_multi" class="form-control">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
		</select>
	</div>

		</div>



		<div style="float:right; width:70%">
				<h4>Description</h4>

				<textarea name = "description" cols="100" rows="8"></textarea>
			
		</div>
	<br><br>

	<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col"> Attribute</th>
				<th cope="col">Abilty Score</th>

			</tr>
			<tr>
				<td>STR</td> 
				<td><input type="text" name="STRENGTH" value=10> </td>
			</tr>
			<tr>
				<td>DEX</td>
				<td> <input type="text" name="DEXTERITY" value=10></td>
			</tr>
			<tr>
				<td>CON</td>
				<td> <input type="text" name="CONSTITUTION" value=10></td>
			</tr>
			<tr>
				<td>INT</td>
				<td> <input type="text" name="INTELLIGENCE" value=10></td>
			</tr>
			<tr>
				<td>WIS</td>
				<td> <input type="text" name="WISDOM" value=10></td>
			</tr>
			<tr>
				<td>CHA</td>
				<td> <input type="text" name="CHARISMA" value=10></td>
			</tr>
		</table>
		
		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Skills</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics" id="acrobatics" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight" id="insight" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance" id="performance" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics" id="athletics" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation" id="intimidation" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion" id="persuasion" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling" id="animal_handling" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation" id="investigation" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion" id="religion" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana" id="arcana" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine" id="medicine" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand" id="sleightofhand" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception" id="deception" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature" id="nature" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth" id="stealth" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history" id="history" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception" id="perception" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival" id="survival" value=1></td>
			</tr>
		</table>

		<table class="table table-sm">
			<tr class="bg-success">
				<th scope="col" colspan="6"><center> Expertise</center></th>
			</tr>
			<tr>
				<td>Acrobatics</td> 
				<td><input type="checkbox" name="acrobatics_expert" id="acrobatics_expert" value=1></td> 
				<td>Insight</td>
				<td><input type="checkbox" name="insight_expert" id="insight_expert" value=1></td>
				<td>Performance</td>
				<td><input type="checkbox" name="performance_expert" id="performance_expert" value=1></td>
			</tr>
			<tr>
				<td>Athletics</td>
				<td><input type="checkbox" name="athletics_expert" id="athletics_expert" value=1></td>
				<td>Intimidation</td>
				<td><input type="checkbox" name="intimidation_expert" id="intimidation_expert" value=1></td>
				<td>Persuasion</td>
				<td><input type="checkbox" name="persuasion_expert" id="persuasion_expert" value=1></td>
			</tr>
			<tr>
				<td>Animal Handling</td>
				<td><input type="checkbox" name="animalhandling_expert" id="animal_handling_expert" value=1></td>
				<td>Investigation</td>
				<td><input type="checkbox" name="investigation_expert" id="investigation_expert" value=1></td>
				<td>Religion</td>
				<td><input type="checkbox" name="religion_expert" id="religion_expert" value=1></td>
			</tr>
			<tr>
				<td>Arcana</td>
				<td><input type="checkbox" name="arcana_expert" id="arcana_expert" value=1></td>
				<td>Medicine</td>
				<td><input type="checkbox" name="medicine_expert" id="medicine_expert" value=1></td>
				<td>Sleight of Hand</td>
				<td><input type="checkbox" name="sleightofhand_expert" id="sleightofhand_expert" value=1></td>
			</tr>
			<tr>
				<td>Deception</td>
				<td><input type="checkbox" name="deception_expert" id="deception_expert" value=1></td>
				<td>Nature</td>
				<td><input type="checkbox" name="nature_expert" id="nature_expert" value=1></td>
				<td>Stealth</td>
				<td><input type="checkbox" name="stealth_expert" id="stealth_expert" value=1></td>
			</tr>
			<tr>
				<td>History</td>
				<td><input type="checkbox" name="history_expert" id="history_expert" value=1></td>
				<td>Perception</td>
				<td><input type="checkbox" name="perception_expert" id="perception_expert" value=1></td>
				<td>Survival</td>
				<td><input type="checkbox" name="survival_expert" id="survival_expert" value=1></td>
			</tr>
		</table>

	<br><br>
	<button type="submit" value="Add Character" class="btn btn-primary">Add Character</button>
</form>

<script type="text/javascript">

	function makeid(length) {
	  var text = "";
	  var random_name=  "";
	  var capital ="ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	  var connsonant = "bcdfghjklmnpqrstvwxyz";
	  var vowel = "aeiou";
	  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
		text += possible.charAt(Math.floor(Math.random() * possible.length));
		random_name += connsonant.charAt(Math.floor(Math.random() * vowel.length));
		random_name += vowel.charAt(Math.floor(Math.random() * vowel.length));
	  for (var i = 0; i < 6; i++)
		random_name += possible.charAt(Math.floor(Math.random() * possible.length));

	  return random_name;
}

document.getElementById("nm").defaultValue = makeid(12);
console.log(makeid(12));

</script>
<p>*NOTE: Does not apply racial bonuses automatically</p>
{% endblock %}