{% extends 'base.html' %}

{% block content %}
<table class="table table-sm">
	<tr class="bg-warning">
		<th colspan="2"><h2><center>{{job}} class features</center></h2></th>
		{% if job == "Warlock" or job == "Sorcerer" or job == "Bard" or job == "Ranger" %}
				<th>Spells known</th>
				{% endif %}
			{% if job == "Warlock" or job == "Sorcerer" or job == "Bard" or job == "Ranger" or job == "Paladin" or job == "Wizard" or job == "Cleric" or job == "Druid"   %}
				<th> Spell Slots</th>
				{%endif %}</th>

		{% for i in range(1, 21) %}
		<tr>
		<td>{{i}}</td> 
		<td>{{feats_dict[i]}}</td>
		{% if job == "Warlock" or job == "Sorcerer" or job == "Bard" or job == "Ranger" %}

		<td>{{known_dict[i]}}</td>
		{% endif %}
		{% if job == "Warlock" or job == "Sorcerer" or job == "Bard" or job == "Ranger" or job == "Paladin" or job == "Wizard" or job == "Cleric" or job == "Druid"   %}
		<td>{{slots_dict[i]}}</td>
		{%endif %}
		</tr>
		{% endfor %}
</table>


{% endblock %}
