{% extends 'base.html' %}

{% block content %}

	<h2>{{ feature.JOB}}</h3>
<li>	
				<a href = "/" style='padding-top: 20px'>{{feature.JOB}}</a>
				<h4>
				<p></p>
				Level 1 - {{feature.LEVEL_1}}
				<p></p>
				Level 2 - {{feature.LEVEL_2}}
				<p></p>
				Level 3 - {{feature.LEVEL_3}}
				<p></p>
				Level 4 - {{feature.LEVEL_4}}
				<p></p>
				Level 5 - {{feature.LEVEL_5}}
				<p></p>
				Level 6 - {{feature.LEVEL_6}}
				<p></p>
				Level 7 - {{feature.LEVEL_7}}
				<p></p>
				Level 8 - {{feature.LEVEL_8}}
				<p></p>
				Level 9 - {{feature.LEVEL_9}}
				<p></p>
				Level 10 - {{feature.LEVEL_10}}
				<p></p>
				Level 11 - {{feature.LEVEL_11}}
				<p></p>
				Level 12 - {{feature.LEVEL_12}}
				<p></p>
				Level 13 - {{feature.LEVEL_13}}
				<p></p>
				Level 14 - {{feature.LEVEL_14}}
				<p></p>
				Level 15 - {{feature.LEVEL_15}}
				<p></p>
				Level 16 - {{feature.LEVEL_16}}
				<p></p>
				Level 17 - {{feature.LEVEL_17}}
				<p></p>
				Level 18 - {{feature.LEVEL_18}}
				<p></p>
				Level 19 - {{feature.LEVEL_19}}
				<p></p>
				Level 20 - {{feature.LEVEL_20}}
			</h4>
			</li>

	<form action="" method="post">
		<input type="hidden" name="remove" value="1">
		<input type="submit" value="Remove Character">
	</form>

	<a href="/edit/{{character.NAME}}">Edit {{character.NAME}}</a>

	<br><br><hr>
	<a href="/">Back to characters</a>

{% endblock %}
