{% extends 'base.html' %}

{% block content %}
{%if job=='Ranger'%}
<p>Note * Using Ranger revised</p>
{%endif%}
<style>
	container{float:right;}
	.mw-headline{color:#88e291;}
	p{color:white;}
	ul{color:white;}

</style>
<table class="table table-sm" id="table">
	{%for i in range(0,21)%}
		{{this_class_table[i]|safe}}
	{%endfor%}
</table>

<table class="table table-sm">
	<tr class="bg-success">
		<th colspan="42"><center><h2>Sub Classes</h2></center></th>
	</tr>
	{%for sub in subs%}
		<td>{{sub.SUB_JOB}}</td>
	{%endfor%}
</table>
<container>
	{{this_feature_table[0]|safe}}
</container>

<br><br>
	
<script>

</script>

<script>
	window.onload=function()
	{
		document.getElementById("{{job}}_Leveling_Table").innerHTML=""
				
	}
</script>
{% endblock %}

