{% extends 'base.html' %}

{% block content %}
<center>
	<h1> Login </h1>
	<form method="post" action="">
		<h3>User Name</h3>
		<input type="text" name="user_name">

		<h3>Password</h3>
		<input type="password" name="password" autocomplete="off">
		<br><br>
		<button type="submit" value="login" class="btn btn-primary">Login</button>
		<br><br>
		<a href="/logout" class="btn btn-primary"">Logout</a>

		<br> <hl> <br>

		<p> Don't have an account? </p>
		<hl><br>
		<a href="/registration" class="btn btn-primary">Register new account</a>
	</form>
</center>
{% endblock %}