{% extends 'base.html' %}

{% block content %}
<center>
	<h1> Registration </h1>
	<form method="post" action="">
		<h3>User Name</h3>
		<input type="text" name="user_name" autocomplete="off">

		<h3>Password</h3>
		<input type="password" name="password" autocomplete="off">
		<br><br>
		<button type="submit" value="Add User" class="btn btn-primary">Register</button>

		<br> <hl> <br>

		<p> Already have an account? </p>
		<hl><br>
		<a href="/login" class="btn btn-primary">Login</a>
	</form>
</center>
{% endblock %}